
/* =Action
----------------------------------------------- */
.action {
  grid-column: 1/-1 !important;
  margin: 3em 0 !important;
  max-width: none !important;
}

.action,
.action li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.action {
  display: flex;
  flex-wrap: wrap;
}
.action li {
  margin: 0.375em;
  flex-grow: 1;
}
.action a {
  display: block;
  padding: 0.875em 1.5em;
  border: 0.125em solid;
  border-radius: 0.125em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.125em;
}

