
.coast-2019 .page.content-item a {
  transition: all 0.2s;
}

.coast-2019 #layout-navigation-wrapper,
.coast-2019 .page.content-item > header {
  display: none;
}

.coast-2019 .page.content-item {
  font-size: 1.75rem;
}
@media (min-width: 58.75em) {
  .coast-2019 .page.content-item {
    font-size: calc(0.75em + 0.4375vw);
  }
}
.coast-2019 .page.content-item h1,
.coast-2019 .page.content-item h2,
.coast-2019 .page.content-item h3,
.coast-2019 .page.content-item h4,
.coast-2019 .page.content-item h5,
.coast-2019 .page.content-item h6 {
  color: hsla(175, 54%, 47%, 1);
}
.coast-2019 .page.content-item h1,
.coast-2019 .page.content-item h2 {
  font-weight: bold;
}
.coast-2019 .page.content-item h2 {
  font-size: 2em;
  
  grid-column: 1 / -1;
  justify-self: center;
  font-family: canada-type-gibson, sans-serif;
  font-style: normal;
  line-height: 1.125;
  text-transform: uppercase;
  transform: skewY(-8deg);
  text-align: center;
  display: block;
  font-size: calc(0.375em + 3vw);
  font-weight: bold;
  letter-spacing: 0.4em;
  margin-bottom: 2.25em;
}
@media (max-width: 50em) {
  .coast-2019 .page.content-item h2 {
    font-size: 1.875em;
    letter-spacing: 0.2em;
  }
}
.coast-2019 .page.content-item h3 {
  font-size: 1.6em;
  font-size: calc(1.618 * 1em);
  line-height: 1.25;
  font-weight: 400;
}
.coast-2019 .page.content-item h4,
.coast-2019 .page.content-item h5,
.coast-2019 .page.content-item h6 {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  color: inherit;
  line-height: 1.25;
}



@media (min-width: 58.75em) {
  .coast-2019 .page.content-item h2 + p {
    margin-top: 0;
  }
  .page.content-item > h3,
  .page.content-item > h3 + * {
    margin-top: 1.5em;
  }
  .page.content-item > h3 + h4,
  .page.content-item > h3 + p,
  .page.content-item > h3 + ul {
    margin-top: 2.925em;
  }
  .page.content-item > h3 + dl {
    margin-top: 2.175em;
  }
}

.coast-2019 .page.content-item > .navigation {
  grid-column: 1/-1;
  width: 100%;
  line-height: 1.5;
  margin-top: 1.5em;
  margin-botom: 4.5em;
}
.coast-2019 .page.content-item > .navigation ul {
  display: flex;
  flex-wrap: wrap;
  max-width: none;
  width: 100%;
}
.coast-2019 .page.content-item > .navigation li {
  margin: 0.375em;
  flex-grow: 1;
}

.coast-2019 .page.content-item > .navigation li a {
  background-color: hsla(175, 54%, 47%, 1);
  background-color: hsla(199, 84%, 70%, 1);
  background-color: hsla(207, 73%, 43%, 1);
  background-color: hsla(38, 97%, 59%, 1);
  color: white;
  padding: 0.75em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.125em;
}
.coast-2019 .page.content-item .page.content-item > .navigation {
  padding-top: 1.5em;
}
.coast-2019 .page.content-item .page.content-item > .navigation li a {
  background-color: white !important;
  color: hsla(199, 84%, 70%, 1) !important;
}
.coast-2019 .page.content-item .page.content-item > .navigation li a:hover,
.coast-2019 .page.content-item .page.content-item > .navigation li a:active,
.coast-2019 .page.content-item .page.content-item > .navigation li a:focus {
  background-color: hsl(207, 73%, 43%) !important; /* dark blue */
  color: white !important; /* orange */
}

.coast-2019 .page.content-item > figure.image:first-child {
  background-color: hsl(199, 84%, 70%);
  margin-top: 0 !important;
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 58.75em) {
  .coast-2019 .page.content-item > figure.image:first-child {
    margin-left: -35px;
    margin-right: -35px;
  }
}

/* Override styles intended for the primary image on other pages */
.coast-2019 .page.content-item > .image:first-child img {
  height: auto;
  width: 100%;
}

/* @supports (object-fit: contain) {
  @media (min-aspect-ratio: 1/1) {
    .coast-2019 .page.content-item > figure.image:first-child {
      background-image:
        linear-gradient(to bottom, hsla(29, 93%, 58%, 1), hsla(43, 87%, 58%, 1) 48.375vw, hsla(43, 87%, 58%, 0) 48.375vw, hsla(43, 87%, 58%, 0));
    }
    .coast-2019 .page.content-item > figure.image:first-child img {
      display: block;
      width: 100vw !important;
      height: 66vw !important;
      object-fit: contain !important;
    }
  }
} */

.coast-2019 .page.content-item > .introduction {
  font-size: 1.25em;
  /* font-weight: 300; */
  margin-top: 1.5em;
  grid-column: 1/-1;
  max-width: 40em;
  justify-self: center;
}

.coast-2019 .page.content-item .page.content-item {
  background-color: hsla(199, 84%, 70%, 1);
  color: white;
  grid-column: 1/-1;
  max-width: none;
  width: 100vw;
  margin-left: -15px;
  margin-right: -15px;  
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4.5em;
  padding-top: 1px;
}
@media (min-width: 58.75em) {
  .coast-2019 .page.content-item .page.content-item {
    margin-left: -35px;
    margin-right: -35px;  
    padding-left: 35px;
    padding-right: 35px;
  }
  .coast-2019 .page.content-item > figure.image:first-child {
    margin-bottom: 0 !important;
  }
  .coast-2019 .page.content-item > figure.image:first-child + .page.content-item,
  .coast-2019 .page.content-item > figure.image:first-child + header + .page.content-item {
    margin-top: 0;
  }
}

.coast-2019 .page.content-item .page.content-item ~ .page.content-item {
  background-color: hsl(29, 93%, 58%); /* orange */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(192, 100%, 44%); /* medium blue */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(279, 29%, 60%); /* purple */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(14, 88%, 55%); /* tangerine */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(207, 73%, 43%); /* dark blue */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(175, 53%, 48%); /* aqua */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(29, 93%, 58%); /* orange */
}



.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(192, 100%, 44%); /* medium blue */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(279, 29%, 60%); /* purple */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(14, 88%, 55%); /* tangerine */
}




.coast-2019 .page.content-item .page.content-item h2,
.coast-2019 .page.content-item .page.content-item h3,
.coast-2019 .page.content-item .page.content-item a {
  color: inherit !important;
}
.coast-2019 .page.content-item .page.content-item > *:not(nav) a {
  text-decoration: underline;
}

.coast-2019 .page.content-item .page.content-item ~ .page.content-item {
  position: relative;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item > svg:first-child {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 1px;
  transform: translateY(-100%);
  grid-column: 1/-1 !important;
  width: 100vw;
  height: 18.6vw;
  max-width: none;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item > svg:first-child path {
  fill: currentColor;
}
.coast-2019 .page.content-item > svg:last-child {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: -1px;
  grid-column: 1/-1 !important;
  width: 100vw;
  height: 18.6vw;
  max-width: none;
  color: hsl(29, 93%, 58%); /* orange */
  transform: scale(-1, 1);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item > svg:last-child {
  transform: translateY(100%);
}
.coast-2019 .page.content-item > svg:last-child path {
  fill: currentColor;
}


.coast-2019 .page.content-item .page.content-item {
  padding-bottom: calc(18.6vw + 3em);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(29, 93%, 58%); /* orange */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item {
  padding-bottom: calc(18.6vw + 6em);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(192, 100%, 44%); /* medium blue */
  transform: scale(-1, 1) translateY(-100%);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-bottom: 15em;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(279, 29%, 60%); /* purple */
  transform: scale(1, 1) translateY(-100%);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-bottom: 6em;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(14, 88%, 55%); /* tangerine */
  transform: scale(-1, 1) translateY(-100%);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-top: calc(18.6vw + 3em);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(14, 88%, 55%); /* tangerine */
  transform: scale(-1, -1);
  top: -1px;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-bottom: calc(18.6vw + 6em);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-top: 3em;
  padding-bottom: 3em;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(175, 53%, 48%); /* aqua */
  transform: scale(1, 1) translateY(-100%);
  top: 1px;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-top: calc(18.6vw + 3em);
  padding-bottom: calc(18.6vw + 6em);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(175, 53%, 48%); /* aqua */
  transform: scale(-1, -1);
  top: -1px;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:last-child {
  color: white;
  transform: scale(-1, 1);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-top: 0;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(175, 53%, 48%); /* aqua */
  transform: scale(-1, 1) translateY(-100%);
}



.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(192, 100%, 44%); /* medium blue */
  top: 1px;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(279, 29%, 60%); /* purple */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(14, 88%, 55%); /* tangerine */
}


@media (min-width: 58.75em) {
  .page.content-item > svg:first-child,
  .page.content-item > svg:last-child {
    margin-left: -35px;
    margin-right: -35px;
  }
}


.coast-2019 .artists figure {
  margin-bottom: 0.75em;
}


.coast-2019 .figure-group {
  margin-top: 3em;
  grid-column: 1/-1;
  max-width: none;
}

.coast-2019 .figure-group,
.coast-2019 .figure-group li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.coast-2019 .figure-group li {
  position: relative;
}
.coast-2019 .figure-group figure {
  padding-bottom: 100%;
  position: relative;
}
.coast-2019 .figure-group figure.landscape {
  padding-bottom: 66.666%;
}
.coast-2019 .figure-group figure.portrait {
  padding-bottom: 133.33%;
}
.coast-2019 .figure-group figure::after {
  content: "";
  background-image: linear-gradient(to top, hsla(10, 10%, 0%, 0.5), hsla(10, 10%, 0%, 0) 25%, hsla(10, 10%, 0%, 0));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.coast-2019 .figure-group figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coast-2019 .figure-group h3 {
  position: absolute;
  z-index: 1;
  margin: 0 !important;
  font-size: 1.5em !important;
  font-weight: bold;
  padding: 1.5em;
  bottom: 0;
}

@media (min-width: 40em) {
  .coast-2019 .figure-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* repeat( auto-fit, minmax(250px, 1fr) ); */
  }
  .coast-2019 .figure-group figure {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
  }
}


.coast-2019 .experience-group,
.coast-2019 .experience-group li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.coast-2019 .experience-group {
  margin-top: 3em;
  max-width: none;
  grid-column: 1/-1;
}
.coast-2019 .experience-group h3 {
  font-weight: bold;
  margin-top: 0 !important;
  grid-column: 2/-1;
}
.coast-2019 .experience-group figure {
  margin-bottom: 0.75em;
}
.coast-2019 .experience-group figure img {
  width: 100%;
  max-width: 33em;
}
.coast-2019 .experience-group li + li {
  margin-top: 4.5em;
}
.coast-2019 .experience-group li p {
  max-width: 33em;
}
.coast-2019 .experience-group summary h4 {
  text-decoration: underline;
  display: inline-block;
}

@media (min-width: 40em) {
  .coast-2019 .experience-group {
    margin: 4.5em auto 0;
    max-width: 50em;
  }
  .coast-2019 .experience-group li {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: auto max-content auto;
    grid-gap: 0 1.5em;
  }
  .coast-2019 .experience-group h3,
  .coast-2019 .experience-group p,
  .coast-2019 .experience-group dl,
  .coast-2019 .experience-group details {
    grid-column: 2/3;
    justify-self: start;
    text-align: left;
  }
  .coast-2019 .experience-group h3 {
    grid-row: 1/2;
    align-self: end;
  }
  .coast-2019 .experience-group h3 + p {
    grid-row: 2/3;
    align-self: start;
  }
  .coast-2019 .experience-group figure {
    grid-column: 1/2;
    grid-row: 1/4;
    justify-self: end;
    text-align: right;
  }
  /* .coast-2019 .experience-group li h3 {
    align-self: end;
    margin: 0 !important;
  }
  .coast-2019 .experience-group li p {
    align-self: start;
    max-width: 33em;
    margin: 0 !important;
  } */
}





/* =Subscribe
----------------------------------------------- */

.coast-2019 .subscribe label span {
  font-size: 0;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}
.coast-2019 .subscribe label br {
  display: none;
}
.coast-2019 .subscribe input[type="email"] {
  margin-right: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  max-width: 20em;
  box-sizing: border-box;
}

.coast-2019 .subscribe button,
.coast-2019 .subscribe input[type="email"],
.coast-2019 .subscribe input[type="text"] {
  border-width: 0;
  padding: 0.75em 1.5em;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  border-radius: 1.5em;
  font-weight: normal;
}
.coast-2019 .subscribe input[type="email"],
.coast-2019 .subscribe input[type="text"],
.coast-2019 .subscribe button {
  background-color: white;
  color: black;
}

.coast-2019 .subscribe button {
  background-color: white;
  color: hsl(199, 84%, 70%);
  cursor: pointer;
  padding: 0.75em 1.5em;
  text-align: center;
  
  background-color: hsl(38, 97%, 59%);
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.coast-2019 .subscribe button:hover,
.coast-2019 .subscribe button:focus {
  background-color: hsl(199, 84%, 70%);
}


.coast-2019 .contest-images,
.coast-2019 .contest-images li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.coast-2019 .contest-images {
  margin-top: 3em;
  grid-column: 1/-1 !important;
  max-width: none !important;
  display: grid;
  grid-gap: 0.75em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@supports (object-fit: cover) {
  .coast-2019 .contest-images img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.coast-2019 .navigation-link {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}
.coast-2019 .navigation-link a {
  display: block;
  padding: 1.25em 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.125em;
  background-color: white !important;
  color: hsl(29, 93%, 58%) !important; /* orange */
}
.coast-2019 .navigation-link a:hover,
.coast-2019 .navigation-link a:active,
.coast-2019 .navigation-link a:focus {
  background-color: hsl(207, 73%, 43%) !important; /* dark blue */
  color: white !important; /* orange */
}
.coast-2019 .navigation-link svg {
  width: 1.5em;
  height: 1.5em;
  display: block;
}
.coast-2019 .navigation-link svg path,
.coast-2019 .navigation-link svg polygon {
  fill: currentColor;
}
.coast-2019 .page.content-item:first-child > figure.image:first-child,
.coast-2019 .first-content-item {
  position: relative;
  z-index: 3;
}


/* Map */
.coast-2019 #be-part-of-coast figure {
  max-width: 1250px !important;
  margin-left: auto;
  margin-right: auto;
}

