.coast-2019 #layout-navigation-wrapper,
.coast-2019 .page.content-item > header {
  display: none;
}

.coast-2019 .page.content-item {
  font-size: 1.75rem;
}
@media (min-width: 58.75em) {
  .coast-2019 .page.content-item {
    font-size: calc(0.75em + 0.5vw);
  }
}
.coast-2019 .page.content-item h1,
.coast-2019 .page.content-item h2,
.coast-2019 .page.content-item h3,
.coast-2019 .page.content-item h4,
.coast-2019 .page.content-item h5,
.coast-2019 .page.content-item h6 {
  color: hsla(175, 54%, 47%, 1);
}
.coast-2019 .page.content-item h1,
.coast-2019 .page.content-item h2 {
  font-weight: bold;
}
.coast-2019 .page.content-item h2 {
  font-size: 2em;
}
.coast-2019 .page.content-item h3 {
  margin-top: 1.5em;
  font-size: 1.6em;
  grid-column: 2/-1;
  grid-row-span: 1;
  justify-self: start;
  text-align: left;
}

@media (min-width: 58.75em) {
  .coast-2019 .page.content-item h2 + h3,
  .coast-2019 .page.content-item h2 + p {
    margin-top: 9.5rem;
  }
  .coast-2019 .page.content-item h2 + p {
    margin-top: 10.25rem;
  }
}

.coast-2019 .page.content-item > .navigation {
  grid-column: 1/-1;
  width: 100%;
  line-height: 1.5;
  margin-top: 1.5em;
  margin-botom: 4.5em;
}
.coast-2019 .page.content-item > .navigation ul {
  display: flex;
  flex-wrap: wrap;
  max-width: none;
  width: 100%;
}
.coast-2019 .page.content-item > .navigation li {
  margin: 0.375em;
  flex-grow: 1;
}

.coast-2019 .page.content-item > .navigation li a {
  background-color: hsla(175, 54%, 47%, 1);
  background-color: hsla(199, 84%, 70%, 1);
  background-color: hsla(207, 73%, 43%, 1);
  background-color: hsla(38, 97%, 59%, 1);
  color: white;
  padding: 0.75em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.125em;
}
.coast-2019 .page.content-item .page.content-item > .navigation {
  padding-top: 1.5em;
}
.coast-2019 .page.content-item .page.content-item > .navigation li a {
  background-color: white !important;
  color: hsla(199, 84%, 70%, 1) !important;
}

.coast-2019 .page.content-item > figure.image:first-child {
  background-color: hsl(199, 84%, 70%);
  margin-top: 0 !important;
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 58.75em) {
  .coast-2019 .page.content-item > figure.image:first-child {
    margin-left: -35px;
    margin-right: -35px;
  }
}
@supports (object-fit: contain) {
  @media (min-aspect-ratio: 1/1) {
    .coast-2019 .page.content-item > figure.image:first-child img {
      display: block;
      width: 100vw !important;
      height: 66vw !important;
      object-fit: contain !important;
    }
  }
}

.coast-2019 .page.content-item > .introduction {
  font-size: 1.25em;
  /* font-weight: 300; */
  margin-top: 1.5em;
  grid-column: 1/-1;
  max-width: 40em;
  justify-self: center;
}

.coast-2019 .page.content-item .page.content-item {
  background-color: hsla(199, 84%, 70%, 1);
  color: white;
  grid-column: 1/-1;
  max-width: none;
  width: 100vw;
  margin-left: -15px;
  margin-right: -15px;  
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4.5em;
  padding-top: 1px;
}
@media (min-width: 58.75em) {
  .coast-2019 .page.content-item .page.content-item {
    margin-left: -35px;
    margin-right: -35px;  
    padding-left: 35px;
    padding-right: 35px;
  }
  .coast-2019 .page.content-item > figure.image:first-child {
    margin-bottom: 0 !important;
  }
  .coast-2019 .page.content-item > figure.image:first-child + .page.content-item,
  .coast-2019 .page.content-item > figure.image:first-child + header + .page.content-item {
    margin-top: 0;
  }
}

.coast-2019 .page.content-item .page.content-item ~ .page.content-item {
  background-color: hsl(29, 93%, 58%); /* orange */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(192, 100%, 44%); /* medium blue */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(279, 29%, 60%); /* purple */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(14, 88%, 55%); /* tangerine */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(207, 73%, 43%); /* dark blue */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(175, 53%, 48%); /* aqua */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  background-color: hsl(29, 93%, 58%); /* orange */
}
.coast-2019 .page.content-item .page.content-item h2,
.coast-2019 .page.content-item .page.content-item h3,
.coast-2019 .page.content-item .page.content-item a {
  color: inherit !important;
}
.coast-2019 .page.content-item .page.content-item > *:not(nav) a {
  text-decoration: underline;
}

.coast-2019 .page.content-item .page.content-item ~ .page.content-item {
  position: relative;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item > svg:first-child {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 1px;
  transform: translateY(-100%);
  grid-column: 1/-1 !important;
  width: 100vw;
  height: 18.6vw;
  max-width: none;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item > svg:first-child path {
  fill: currentColor;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item > svg:last-child {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: -1px;
  transform: translateY(100%);
  grid-column: 1/-1 !important;
  width: 100vw;
  height: 18.6vw;
  max-width: none;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item > svg:last-child path {
  fill: currentColor;
}


.coast-2019 .page.content-item .page.content-item {
  padding-bottom: calc(18.6vw + 3em);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(29, 93%, 58%); /* orange */
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item {
  padding-bottom: calc(18.6vw + 6em);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(192, 100%, 44%); /* medium blue */
  transform: scale(-1, 1) translateY(-100%);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-bottom: 15em;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(279, 29%, 60%); /* purple */
  transform: scale(1, 1) translateY(-100%);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-bottom: 6em;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(14, 88%, 55%); /* tangerine */
  transform: scale(-1, 1) translateY(-100%);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-top: calc(18.6vw + 3em);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(14, 88%, 55%); /* tangerine */
  transform: scale(-1, -1);
  top: -1px;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-bottom: calc(18.6vw + 6em);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-top: 3em;
  padding-bottom: 3em;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(175, 53%, 48%); /* aqua */
  transform: scale(1, 1) translateY(-100%);
  top: 1px;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-top: calc(18.6vw + 3em);
  padding-bottom: calc(18.6vw + 6em);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(175, 53%, 48%); /* aqua */
  transform: scale(-1, -1);
  top: -1px;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:last-child {
  color: white;
  transform: scale(-1, 1);
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item {
  padding-top: 0;
}
.coast-2019 .page.content-item .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item ~ .page.content-item > svg:first-child {
  color: hsl(175, 53%, 48%); /* aqua */
  transform: scale(-1, 1) translateY(-100%);
}


@media (min-width: 58.75em) {
  .page.content-item > svg:first-child,
  .page.content-item > svg:last-child {
    margin-left: -35px;
    margin-right: -35px;
  }
}


.coast-2019 .artists figure {
  margin-bottom: 0.75em;
}


.coast-2019 .figure-group {
  margin-top: 3em;
  grid-column: 1/-1;
  max-width: none;
}

.coast-2019 .figure-group,
.coast-2019 .figure-group li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.coast-2019 .figure-group li {
  position: relative;
}
.coast-2019 .figure-group figure {
  padding-bottom: 100%;
  position: relative;
}
.coast-2019 .figure-group figure.landscape {
  padding-bottom: 66.666%;
}
.coast-2019 .figure-group figure.portrait {
  padding-bottom: 133.33%;
}
.coast-2019 .figure-group figure::after {
  content: "";
  background-image: linear-gradient(to top, hsla(10, 10%, 0%, 0.5), hsla(10, 10%, 0%, 0) 25%, hsla(10, 10%, 0%, 0));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.coast-2019 .figure-group figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coast-2019 .figure-group h3 {
  position: absolute;
  z-index: 1;
  margin: 0 !important;
  font-size: 1.5em !important;
  font-weight: bold;
  padding: 1.5em;
  bottom: 0;
}

@media (min-width: 40em) {
  .coast-2019 .figure-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* repeat( auto-fit, minmax(250px, 1fr) ); */
  }
  .coast-2019 .figure-group figure {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
  }
}


.coast-2019 .experience-group,
.coast-2019 .experience-group li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.coast-2019 .experience-group {
  margin-top: 3em;
  max-width: none;
  grid-column: 1/-1;
}
.coast-2019 .experience-group h3 {
  font-weight: bold;
  margin-top: 0 !important;
}
.coast-2019 .experience-group figure {
  margin-bottom: 0.75em;
}
.coast-2019 .experience-group figure img {
  width: 100%;
  max-width: 33em;
}
.coast-2019 .experience-group li + li {
  margin-top: 4.5em;
}
.coast-2019 .experience-group li p {
  max-width: 33em;
}

@media (min-width: 40em) {
  .coast-2019 .experience-group {
    margin: 4.5em 3em 0;
  }
  .coast-2019 .experience-group li {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.5em;
  }
  .coast-2019 .experience-group li figure {
    justify-self: end;
    /* grid-row: 1/3; */
  }
  /* .coast-2019 .experience-group li h3 {
    align-self: end;
    margin: 0 !important;
  }
  .coast-2019 .experience-group li p {
    align-self: start;
    max-width: 33em;
    margin: 0 !important;
  } */
}

