
/* =Type
----------------------------------------------- */

:root {
  --major-third:    1.250;
  --golden-section: 1.618;
  --minor-seventh:  1.778;

  --type-scale:      calc(var(--major-third)    *  1em);
  --vertical-rhythm: calc(var(--golden-section) *  1em);
  --line-length:     calc(var(--golden-section) * 20em);
  --unitless-vertical-rhythm: var(--golden-section);

  --thin:       100;
  --light:      300;
  --normal:     400;
  --medium:     500;
  --semibold:   600;
  --bold:       700;
  --extra-bold: 800;
  --heavy:      900;
}


/* =Color
----------------------------------------------- */
:root {
  --aqua:        hsl(175, 54%, 47%);
  --aqua-dark:   hsl(175, 44%, 37%);
  --aqua-bright: hsla(175, 54%, 47%, 0.2);
  --apple:       hsl(357, 100%, 63%);
  --apple-dark:  hsl(357, 90%, 53%);
  --orange:      hsl(16, 86%, 53%);
  --orange-dark: hsl(15, 8%, 5%);
  --olive:       hsl(146, 17%, 56%);
  --mango:       hsl(37, 94%, 60%);
  --midnight:    hsl(0, 0%, 10%);
  --snow:        hsl(0, 0%, 99%);
  --sky:         hsl(195, 89%, 55%);
  --ocean:       hsl(195, 63%, 38%);

  /*
  --aqua-complimentary: hsl(355, 54%, 47%);
  --blueberry:      hsl(193, 100%, 50%);
  --blueberry-dark: hsl(193, 90%, 40%);
  --apple:          hsl(1, 81%, 57%);
  --lime:           hsl(84, 63%, 39%);
  --plum:           hsl(281, 72%, 78%);
  */

  --primary-color:        var(--aqua);
  --primary-color-dark:   var(--aqua-dark);
  --secondary-color:      var(--orange);
  --secondary-color-dark: var(--orange-dark);


  /*
  --aqua:      hsl(164, 71%, 55%);
  --aqua-dark: hsl(164, 61%, 45%);
  --apple:     hsl(344, 71%, 55%);
  --sky:       hsl(194, 71%, 55%);
  */
}

/* SHIM: Override default style in base.css */
.content-item a {
  text-decoration: underline;
}
.widget-mailchimp h1 {
  margin-top: 0;
}


body {
  background-color: var(--snow);
  color: var(--midnight);
}

a {
  color: var(--secondary-color, gray);
}
a,
button {
  transition: color 0.2s, background-color 0.2s, opacity 0.2s;
}
a:hover,
a:active,
a:focus {
  color: var(--secondary-color-dark);
}
button,
.action a {
  background-color: var(--primary-color, gray);
  color: var(--snow, white);
  /*! text-transform: uppercase; */
  padding: calc(var(--vertical-rhythm) * 1/2) calc(var(--vertical-rhythm) * 1);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.125em;
  text-align: center;
}
.action a {
  display: block;
}
button:hover,
button:focus,
.action a:hover,
.action a:active,
.action a:focus {
  background-color: var(--primary-color-dark, black);
}

/* h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color, gray);
} */


html {
  font-size: 100%;
}

/* Use Proxima Nova by default */
body {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: calc(0.75em + 0.5vw);
  line-height: var(--unitless-vertical-rhythm);
}

h1, h2, h3, h4, h5, h6, p, ol, ul, dl, figure {
  margin-top:    calc(var(--vertical-rhythm) * 1/2);
  margin-bottom: calc(var(--vertical-rhythm) * 1/2);
  max-width:     var(--line-length);
}

h1, h2, h3, h4, h5, h6 {
  --font-size: 1em;
  /* --line-height: calc(var(--unitless-vertical-rhythm) / var(--font-size)); */
  --line-height: var(--golden-section);

  font-size:   var(--font-size);
  line-height: var(--line-height);

  margin-top:    calc(var(--line-height) * 1.0em);
  margin-bottom: 0;

  max-width: var(--line-length);
  font-weight: var(--heavy);
}

h2 {
  --font-size: calc(var(--type-scale) * 2);
  /*! line-height: 1.25; */
  font-weight: var(--bold);
}
h3 {
  --font-size: calc(var(--type-scale) * 1);
  font-weight: normal;
}
h2 {
  --font-size: calc(var(--golden-section) * 1.25em);
  line-height: 1.25;
}
h3 {
  --font-size: calc(var(--golden-section) * 1em);
  /*! line-height: 1.125; */
  /*! --font-size: 2.375em; */
  line-height: 1.25;
}
h4, h5, h6 {
  --font-size: 1em;
  font-style: italic;
  font-weight: normal;
}
h5, h6 {
  color: inherit;
}

/* Resize images to fit within their parent element */
img {
  max-width: 100%;
  height: auto;
}

/*
  Add a little margin above description titles,
  since we’re removing left margin on the descriptions
*/
dt {
  margin-top: 0.75em;
}

.avoid-break {
  display: inline-block;
}

figure {
  margin-top: 3em;
  margin-bottom: 3em;
}

figure iframe {
  max-width: 100%;
}

figure [style*="--aspect-ratio"] {
  padding-bottom: calc(1 / calc(var(--aspect-ratio)) * 100%);
  position: relative;
}
figure [style*="--aspect-ratio"] iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figcaption {
  margin-top: 0.75em;
}

#layout-navigation .navbar .navbar-header .media .navbar-link.media-body.media-center,
#layout-navigation .menu li a {
  letter-spacing: 0.1em;
}

.content-item > header:first-child > h1,
.content-item > h2,
.content-item > h3,
.content-item > h4,
.content-item > h5,
.content-item > h6 {
  color: rgb(55, 185, 174);
}

.content-item > hr {
  opacity: 0;
}
.content-item > header:first-child > h1,
.content-item > hr + h2 {
  font-size: calc(0.75em + 4vw);
  font-family: canada-type-gibson, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.125;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transform: skewY(-8deg);
  text-align: center;
}
.content-item > hr + h2 {
  font-size: calc(0.375em + 3vw);
  font-weight: 300;
  letter-spacing: 0.4em;
}
h1 small {
  font-size: 0.5em;
  display: block;
  font-weight: 300;
  color: inherit;
}
main > hr + h2 img,
h1 img {
  height: 0.75em;
  width: auto;
  vertical-align: -4%;
  display: inline-block;
  transform: skewY(8deg);
}

@supports (display: grid) {
  @media (min-width: 58.75em) {
    .content-item > header:first-child > h1,
    .content-item > hr + h2 {
      grid-column: 1/-1;
      justify-self: center;
      text-align: center;
      margin-top: 0.75em;
      margin-bottom: 1.5em;
    }
    .content-item > hr + h2 {
      margin-bottom: 2.25em;
      margin-top: 2.25em;
    }
  }
}

.content-item > .go-see-art {
  width: 9em;
  grid-column: 1/-1;
  /*! align-self: center; */
  /*! justify-self: center; */
  margin-top: calc(var(--vertical-rhythm) * 3);
  max-width: none;
  margin-bottom: calc(var(--vertical-rhythm) * 3);
  margin-left: auto;
  margin-right: auto;
}

.content-item > .go-see-art a {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: calc(var(--vertical-rhythm) * 1);
  grid-row-gap: calc(var(--vertical-rhythm) * 1);
  text-decoration: none;
}

.content-item > .go-see-art a,
.content-item > .go-see-art a:hover,
.content-item > .go-see-art a:active,
.content-item > .go-see-art a:focus {
  color: white;
  /*! display: block; */
}

.content-item > .go-see-art a > span {
  display: grid;
  width: 100%;
}
.content-item > .go-see-art a > span > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
  /*! align-self: stretch; */
  /*! justify-self: stretch; */
}
.content-item > .go-see-art a > span > .text {
  
  align-self: center;
  justify-self: center;
  /*! color: white; */
  font-family: canada-type-gibson, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.125;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transform: skewY(-8deg);
  text-align: center;
  font-size: 1.5em;
}

.content-item > .go-see-art a > span > .image {
  position: relative;
  padding-bottom: 100%;
  display: block;
  border-radius: 50%;
  background: black;
}
.content-item > .go-see-art img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: unset;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.75;
}


@media (min-width: 25em) {
  .content-item > .go-see-art a {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .content-item > .go-see-art {
    margin-top: calc(var(--vertical-rhythm) * 2);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .content-item > .go-see-art a > span > .text {
    font-size: 5vw;
  }
}

@media (min-width: 75em) {
  .content-item > .go-see-art {
    width: 60em;
  }
  .content-item > .go-see-art a > span > .text {
    font-size: 3em;
  }
}



/*

TBD: Are these in use?

h2.image img {
  display: block;
  margin-bottom: 0.375em;
}
h2.image {
  font-size: 2.25em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
*/





table {
  margin-top: 4.5em;
  margin-bottom: 4.5em;
  border-collapse: collapse;
  justify-self: start;
  max-width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

thead th {
  text-transform: lowercase;
  font-weight: var(--light); /* @semibold */
  letter-spacing: 0.2em; /* 1px / 16px */
  white-space: nowrap;
  /*! opacity: 0.1; */
  font-variant: small-caps;
}

tbody th,
tbody td {
  border-top: 1px solid rgb(225, 225, 225); /* @aluminum */
}
th,
td {
  text-align: left;
  padding: calc(var(--vertical-rhythm) * 0.5);
  vertical-align: top;
  /*! padding-top: 0; */
  font-weight: inherit;
}

@media (min-width: 30em) {
  th,
  td {
    padding: calc(var(--vertical-rhythm) * 1.125);
  }
}

thead th {
  padding-top: 0.325em;
}
th:first-child {
  padding-left: 0;
  width: 20em;
  max-width: 100%;
}
td:last-child {
  padding-right: 0;
}

