
/* =Type
----------------------------------------------- */

/* Use Proxima Nova by default */
body {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Resize images to fit within their parent element */
img {
  max-width: 100%;
  height: auto;
}

/*
  Add a little margin above description titles,
  since we’re removing left margin on the descriptions
*/
dt {
  margin-top: 0.75em;
}

.avoid-break {
  display: inline-block;
}

figure {
  margin-top: 3em;
  margin-bottom: 3em;
}

figure iframe {
  max-width: 100%;
}

figure [style*="--aspect-ratio"] {
  padding-bottom: calc(1 / calc(var(--aspect-ratio)) * 100%);
  position: relative;
}
figure [style*="--aspect-ratio"] iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figcaption {
  margin-top: 0.75em;
}

#layout-navigation .navbar .navbar-header .media .navbar-link.media-body.media-center,
#layout-navigation .menu li a {
  letter-spacing: 0.1em;
}

/*

TBD: Are these in use?

h2.image img {
  display: block;
  margin-bottom: 0.375em;
}
h2.image {
  font-size: 2.25em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
*/
