
/* =Calendar
----------------------------------------------- */

/*
  Make the list of events look similar to the
  calendar on the main City of Santa Monica page:
  https://www.santamonica.gov/events
*/
.events,
.events li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
@media (min-width: 40em) {
  .events {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(25em, 1fr) );
    max-width: none;
    grid-column-gap: 3em;
    grid-row-gap: 0.75em;
  }
  .events {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
.events li {
  margin-bottom: 1.5em;
}

.events .summary {
  display: grid;
  grid-template-columns: calc(var(--vertical-rhythm) * 7) 1fr;
  grid-column-gap: calc(var(--vertical-rhythm) * 1);
}
.events .summary > h3 {
  grid-column: 1/2;
  grid-row: span 3;
  align-self: start;
  justify-self: stretch;
  background-color: var(--mango);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--light);
  padding: calc(var(--vertical-rhythm) * 0.75) calc(var(--vertical-rhythm) * 0.25);
  margin: 0;
  line-height: 1.25;
  position: relative;
  letter-spacing: 0.2em;
}

.events .palisades .summary > h3 {
  background-color: var(--olive);
}
.events .miles .summary > h3 {
  background-color: var(--orange);
}
.events .beach .summary > h3 {
  background-color: var(--ocean);
}

.events summary {
  margin-bottom: 1.5em;
  display: block;
  list-style: none;
  cursor: pointer;
}
.events summary h3 + p {
  padding-top: 0.75em;
  text-decoration: underline;
}
.events summary p {
  margin: 0;
}
.events summary p:last-child {
  padding-bottom: 0.75em;
}
.events details[open] summary h3 + p {
  text-decoration: none;
}

.events details summary::-webkit-details-marker,
.events details summary:focus::-webkit-details-marker {
  display: none;
}


/* SHIM: For the venue details page (make calendar fill the viewport width) */
.detail-venue .events-headline {
  margin-top: 6rem;
}
@supports (display: grid) {
@media (min-width: 58.75em) {
  .detail-venue .events {
    margin-right: calc(-50vw + 200px);
    margin-left: 0;
    margin-top: 3em;
  }
}
}



