


/* =Featured Event
----------------------------------------------- */

.featured-event-list {
  grid-column: 1/-1;
  max-width: none;
}
.featured-event-list,
.featured-event-list > li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* Image only */
.featured-event-image-only {
  grid-column: 1/-1;
  max-width: none;
  display: block; 
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 58.75em) {
  /* Compensate for left and right margin introduced by grid.css */
  .featured-event-image-only {
    margin-left: -35px;
    margin-right: -35px;
  }
}

/* Image and text */
.featured-event {
  grid-column: 1/-1;
  max-width: none;
  display: grid;
  text-decoration: none;
  background: black;
  margin-left: -15px;
  margin-right: -15px;
}
.featured-event + .featured-event {
  margin-top: 0;
}
@media (min-width: 58.75em) {
  /* Compensate for left and right margin introduced by grid.css */
  .featured-event {
    margin-left: -35px;
    margin-right: -35px;
  }
}
.featured-event__text {
  grid-column: 1/1;
  grid-row: 1/1;
  align-self: center;
  position: relative;
  z-index: 1;
  justify-self: center;
  align-self: center;
  justify-self: center;
  background-color: black;
  color: white;
}
@supports (display: grid) {
  .featured-event .featured-event__text {
    background-color: transparent;
  }
}
.featured-event__title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  font-size: 35px;
}
@media (min-width: 58.75em) {
  .featured-event__title {
    font-size: 84px;
  }
}
.featured-event__description {
  font-size: 23px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
}
.featured-event__image {
  grid-column: 1/1;
  grid-row: 1/1;
  height: 100%;
  height: 100vw;
  width: 100%;
  object-fit: cover;
  opacity: 0.75;
}

@media (min-width: 40em) {
  .featured-event__image {
    height: 50vw;
  }
}
