
/* =Featured Events
----------------------------------------------- */

.featured-events,
.featured-events li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.featured-events {
  grid-column: 1 / -1;
  max-width: none;
}

.featured-events li + li {
  margin-top: calc(var(--vertical-rhythm) * 1/8);
}

.featured-events a {
  display: grid;
  text-decoration: none;
  background: black;
  color: white;
}

.featured-events br {
  display: none;  
}

.featured-events .image {
  display: block;
  position: relative;
  padding-bottom: calc(1/2 * 100%);
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.featured-events .text {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: block;
  position: relative;
  z-index: 1;
  align-self: center;
  justify-self: center;
  font-size: calc(0.75em + 1vw);
  /*! transform: skewY(-8deg); */
  text-align: center;
  padding: 4.5em 1em;
}

.featured-events strong {
  font-size: 2em;
  text-transform: uppercase;
  display: block;
  line-height: 1;
  padding: 0.25em 0.375em;

  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.125;
  text-transform: uppercase;
  letter-spacing: 0.2em;
/*   font-size: calc(0.75em + 7vw); */
}

@media (min-width: 30em) {
  .featured-events strong {
    font-size: 3em;
  }
}

.featured-events img {
  display: block;
  height: 100%;
  max-width: unset;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
