
/* =Footer
----------------------------------------------- */

/* Make links easier to see in footer */
#layout-footer a {
  text-decoration: underline;
}
#layout-footer a:hover,
#layout-footer a:active,
#layout-footer a:focus {
  color: black;
}

/* Make venue icons look a little nicer */
#layout-footer .widget-contact dl {
  margin-left: 2em;
}
#layout-footer dt img {
  position: absolute;
  transform: translateX(-100%);
  margin-left: -0.5em;
}


.widget-social,
.widget-contact {
  padding-left: 15px;
  padding-right: 15px;
}

/* Position the footer items in a grid */
.widget-contact,
.widget-social {
  float: none !important;
}
@media screen and (min-width: 70em) {
  .zone-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em;
  }
  .zone-footer > * {
    grid-column: 1/-1;
  }
  .widget-social,
  .widget-contact {
    grid-column: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .widget-social:nth-child(2),
  .widget-contact:nth-child(2) {
    padding-left: 3em;
  }
  .widget-social:nth-child(4),
  .widget-contact:nth-child(4) {
    padding-right: 3em;
  }
  /* .widget-social {
    padding-right: 0;
    padding-left: 100px;
  }
  .widget-contact {
    padding-left: 0;
  }
  .widget-social + .widget-contact {
    padding-right: 0;
  } */
}

.widget-footer h2 {
  margin-top: 3em;
  
  --font-size: inherit;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.125;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: var(--semibold);
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.2);
  margin-bottom: calc(var(--vertical-rhythm) * 2/4);
  padding-bottom: calc(var(--vertical-rhythm) * 2/4);
}
.widget-footer dt {
  font-weight: inherit;
}

/* SHIM */
.widget-social {
  text-transform: inherit;
}

/* Line the footer social links up in a row */
.widget-social dt,
.widget-social dd {
  margin-left: 0;
  padding-left: 0;
}
.widget-social dt {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-weight: inherit;
}
.widget-social dd {
  display: inline-block;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
}
.widget-social dd a {
  background-color: white;
  border-radius: 50%;
  color: #38bab0 !important;
  display: inline-block;
  padding: 0.375em;
}
.widget-social svg {
  display: block;
  font-size: 1.25em;
  width: calc(var(--vertical-rhythm) * 1/2);
  height: calc(var(--vertical-rhythm) * 1/2);
}

/* Prevent the footer image from appearing too large */
.widget-artsamo img {
  width: 433px; /* Half of the image’s actual pixel size */
  /* height: 284px; */

  /* For small screens */
  max-width: 100%;
  height: auto;
}

