
/* =Venues
----------------------------------------------- */

.venues,
.venues li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/*
.venues {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 66vw);
}
*/

/* .venues li a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vw auto;
} */

.venues {
  grid-column: 1/-1;
  max-width: none;
  margin-top: calc(var(--vertical-rhythm) * 1);
}

.venues a {
  text-decoration: none;
  color: inherit;
}

.venues .image {
  display: block;
  position: relative;
  padding-bottom: calc(4/7 * 100%);
  margin-bottom: calc(var(--vertical-rhythm) * 1/2);
}

.venues .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
}


.venues li {
  margin-bottom: calc(var(--vertical-rhythm) * 2);
}

.venues .image + br {
  display: none;
}

.venues .text {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  line-height: 1.25;
}

.venues .icon {
  margin-right: calc(var(--vertical-rhythm) * 1/3);
  width: calc(var(--vertical-rhythm) * 1.5);
  height: auto;
  flex-shrink: 0;
}

@media (min-width: 50em) {
  .venues {
    display: grid;
    margin-left: calc(var(--vertical-rhythm) * 1);
    margin-right: calc(var(--vertical-rhythm) * 1);
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--vertical-rhythm) * 2);
    grid-row-gap: calc(var(--vertical-rhythm) * 3);
    margin-bottom: calc(var(--vertical-rhythm) * 1);
    margin-top: calc(var(--vertical-rhythm) * 1);
  }
  .venues li {
    margin: 0;
  }
}
@media (min-width: 70em) {
  .venues {
    margin-left: calc(var(--vertical-rhythm) * 2);
    margin-right: calc(var(--vertical-rhythm) * 2);
  }
}
