
/* =Grid
----------------------------------------------- */

/* Center the content and limit its length to about 33 characters, for readability */
@media (min-width: 58.75em) {

  /* Emphasize the main headline */
  /* main > div:first-child > article:first-child > header:first-child h1 {		
   margin-top: 4.5rem;		
   font-size: 2.5em;
   font-weight: bold;
   background-color: #38bab0;
   color: #fff;
   display: inline-block;
   margin-left: 35px;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-top: 0.375rem;
   padding-bottom: 0.375rem;
   font-weight: inherit;
 } */

  /* Target the content that’s declared as a 12 column bootstrap grid
     and create a two column grid inside it. */
  .col-md-12 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1.5em;
    margin-bottom: 6em;
  }

  /* Position most content in the second column */
  .col-md-12 > * {
    grid-column: 2/3;
    max-width: 33em;
  }

  /* Position headlines in the first column */
  .col-md-12 > h2,
  .col-md-12 > h3 {
    grid-column: 1/2;
    justify-self: end;
    text-align: right;
    margin-bottom: 0;
  }
  .col-md-12 > h2 {
    font-size: 2em;
  }
  .col-md-12 > h2,
  .col-md-12 > h3,
  .col-md-12 > h2 + *:not(h3),
  .col-md-12 > h3 + * {
    margin-top: 1.5rem;
  }
  .col-md-12 > h2,
  .col-md-12 > h2 + *:not(h3) {
    margin-top: 12rem;
  }
  /* SHIM: Just in case a page has a first level headline mixed in with the content. */
  .col-md-12 > h1 {
    grid-column: 1/-1;
  }


}
