
/* =Grid
----------------------------------------------- */

/* A few styles for browsers that don’t understand grid */
@media (min-width: 58.75em) {
  .content-item {
    margin-bottom: 6em;
  }
  .home-page.content-item,
  .venue.content-item {
    margin-bottom: unset;
  }
  .content-item > h2 {
    margin-top: 9rem;
  }
  .content-item > h3 {
    margin-top: 4.5rem;
  }
  .content-item > * {
    max-width: 66rem;
    margin-left: auto;
    margin-right: auto;
  }
  .home-page.content-item > *,
  .venue.content-item > * {
    max-width: unset;
  }
  .content-item > header:first-child,
  .content-item > div:last-child,
  .content-item > .image,
  .content-item .col-md-12 > .image,
  .content-item > .image:first-child + header,
  .content-item .col-md-12 > .image:first-child + header {
    max-width: none;
  }
}

/* Center the content and limit its length to about 33 characters, for readability */
@supports (display: grid) {
@media (min-width: 58.75em) {

  /* Emphasize the main headline */
  /* .content-item > header:first-child h1 {		
   margin-top: 4.5rem;		
   font-size: 2.5em;
   font-weight: bold;
   background-color: #38bab0;
   color: #fff;
   display: inline-block;
   margin-left: 35px;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-top: 0.375rem;
   padding-bottom: 0.375rem;
   font-weight: inherit;
 } */

  /* Target the content that’s declared as a 12 column bootstrap grid
     and create a two column grid inside it. */
  .content-item {
    display: grid;
    margin-bottom: 6em;

    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calc(var(--vertical-rhythm) * 2);
    grid-row-gap: calc(var(--vertical-rhythm) * 1);
    align-items: start;
    /* padding-left: var(--vertical-rhythm);
    padding-right: var(--vertical-rhythm); */
  }
  .home-page.content-item,
  .venue.content-item {
    display: block;
    margin-bottom: unset;
  }

  /* Position most content in the second column */
  .content-item > * {
    grid-column: 2 / -1;
    max-width: 33em;
    margin-left: unset;
    margin-right: unset;
  }
  .home-page.content-item > *,
  .venue.content-item > * {
    max-width: unset;
  }

  .content-item > header:first-child,
  .content-item > div:last-child {
    grid-column: 1/-1;
    max-width: none;
  }

  /* Position headlines in the first column */
  .content-item > h2,
  .content-item > h3 {
    grid-column: 1/2;
    justify-self: end;
    text-align: right;
    margin-bottom: 0;

    padding-left: calc(var(--unitless-vertical-rhythm) * 2rem);
    max-width: 17.5em;
  }
  .content-item > h2,
  .content-item > .text-image ~ h3 { /* SHIM: Make headlines a consistent size on Belmar page */
    font-size: 2em;
  }
  .content-item > h2,
  .content-item > h3,
  .content-item > h2 + *,
  .content-item > h3 + * {
    margin-top: 1.5rem;
  }
  .content-item > h2,
  .content-item > h2 + *:not(h3) {
    margin-top: 9rem;
  }
  .content-item > h2 + p {
    margin-top: 10.25rem;
  }
  .content-item > .text-image ~ h3 + p { /* SHIM: Make headlines a consistent size on Belmar page */
    margin-top: 2.65rem;
  }
  /* SHIM: Just in case a page has a first level headline mixed in with the content. */
  .content-item > h1 {
    grid-column: 1/-1;
  }

  /*
    Emphasize the primary image by making it the full width of the grid
    and overlap it with the main headline
  */
  .content-item > .image,
  .content-item .col-md-12 > .image {
    margin-bottom: 4.5em;
    grid-column: 1/-1;
    max-width: none;
  }
  .content-item > .image img,
  .content-item .col-md-12 > .image img {
    width: 100%;
    height: auto;
  }
  /* If the image is the first element in the page content */
  .content-item > .image:first-child,
  .content-item .col-md-12 > .image:first-child {
    margin-top: -4.5em;

    grid-row: 1/2;
    grid-column: 1/-1;
    display: grid;
  }
  .content-item > .image:first-child + header,
  .content-item .col-md-12 > .image:first-child + header {
    max-width: none;

    grid-row: 1/2;
    grid-column: 1/-1;
    position: relative;
    z-index: 1;
    align-self: center;
    color: white;
    box-sizing: border-box;
    overflow-wrap: break-word;
    margin: 0;
    box-sizing: border-box;
  }
  .content-item > .image:first-child + header h1,
  .content-item .col-md-12 > .image:first-child + header h1 {
    font-size: 55px;
    margin-top: 0;

    font-family: canada-type-gibson, sans-serif;
    font-weight: 700;
    font-size: calc(0.75em + 4vw);
    font-style: normal;
    line-height: 1.125;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transform: skewY(-8deg);
    text-align: center;
    margin: 0;
    margin-top: calc(1.5em * -1);
  }

  .belmar-headline {
    grid-row: 1/2;
    grid-column: 1/-1;
    position: relative;
    z-index: 1;
    color: white;
    margin-left: 10.5vw;
    margin-top: 9vw;
    margin-bottom: 0;
  }

  /* Make the headline smaller and position it out of the way of the picture */
  .belmar-headline__subtle {
    align-self: end;
    justify-self: end;
    margin-bottom: 9em;
    margin-left: unset;
    margin-right: 10.5vw;
  }
  .belmar-headline__subtle svg {
    transform: scale(0.75);
  }
  
  /* Make maps take up the full width of the grid */
  .content-item .map {
    margin-top: 4.5em;
    grid-column: 1/-1;
    max-width: none;
  }
  .content-item .map + p {
    margin-bottom: 4.5em;
  }

  /* Align artists sub-grid with the main grid */
  .content-item > .artists,
  .content-item .col-md-12 > .artists {
    grid-column: 1/-1;
    max-width: none;
    margin-top: 0;
  }
  .content-item > .artists li,
  .content-item .col-md-12 > .artists li {
    grid-template-columns: 1fr 2fr;
  }
}
}
