
/* =Header Image
----------------------------------------------- */
@supports (object-fit: cover) {
  .detail-venue .hero img,
  .page.content-item .image:first-child img {
    height: 33vw;
    width: 100%;
    object-fit: cover;
  }
}

/* Caption */
.page.content-item .image:first-child {
  text-align: right;
}

@media screen and (min-width: 58.75em) {
  
  /* Avoid covering up the main headline */
  #layout-navigation .navbar .navbar-header {
    position: relative;
  }
  
  /* Make the logo overlap with the photo */
  .venue.content-item,
  .detail-home-page .hero {
    margin-top: -72px;
  }
}
