
/* =Header Image
----------------------------------------------- */
.detail-venue .hero img,
.page.content-item > .image:first-child img,
.page.content-item .col-md-12 > .image:first-child img {
  height: auto;
  width: 100%;
}
@supports (object-fit: cover) {
  @media (min-aspect-ratio: 1/1) {
    .detail-venue .hero img,
    .page.content-item > .image:first-child img,
    .page.content-item .col-md-12 > .image:first-child img {
      height: 33vw;
      width: 100%;
      object-fit: cover;
    }
  }
}

/* Caption */
.page.content-item > .image:first-child figcaption,
.page.content-item .col-md-12 > .image:first-child figcaption {
  font-size: 0.875em;
  padding-top: 0.375em;
  text-align: right;
}

/* Deprecated */
.page.content-item > .image:first-child,
.page.content-item .col-md-12 > .image:first-child {
  text-align: right;
}

@media screen and (min-width: 58.75em) {
  
  /* Avoid covering up the main headline */
  #layout-navigation .navbar .navbar-header {
    position: relative;
  }
  
  /* Make the logo overlap with the photo */
  .venue.content-item,
  .detail-home-page .hero {
    margin-top: -72px;
  }
}
