

/* =Image Quote
----------------------------------------------- */

.image-quote {
  grid-column: 1 / -1;
  max-width: none;
  margin-top: calc(var(--vertical-rhythm) * 2);
  margin-bottom: calc(var(--vertical-rhythm) * 2);
}

.image-quote {
  display: grid;
  text-decoration: none;
  background: black;
  color: white;
}

.image-quote br {
  display: none;  
}

.image-quote figure {
  display: block;
  position: relative;
  padding-bottom: calc(1/2 * 100%);
  grid-column: 1/-1;
  grid-row: 1/-1;
  max-width: none;
  margin: 0;
}

.image-quote img {
  display: block;
  height: 100%;
  max-width: unset;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.image-quote blockquote {
  padding: unset;
  margin: unset;
  border-width: 0;
}

.image-quote blockquote {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: block;
  position: relative;
  z-index: 1;
  align-self: center;
  justify-self: center;
  font-size: calc(0.75em + 1vw);
  /* transform: skewY(-8deg); */
  padding: 4.5em calc(100%/6);
}

.image-quote blockquote p {
  text-transform: uppercase;
  display: block;
  font-size: calc(0.75em + 1.75vw);

  /*! font-family: canada-type-gibson, sans-serif; */
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.1em;
}

.image-quote blockquote p::before {
  content: "“";
  position: absolute;
  transform: translateX(-100%);
}

.image-quote blockquote p::after {
  content: "”";
}

.image-quote blockquote small {
  display: block;
  text-align: right;
  color: inherit;
  font-size: smaller;
}
.image-quote blockquote small::before {
  content: "– ";
}
