
/* =Layout
----------------------------------------------- */

/* SHIM: Reset the default style that appears to be preventing scrollbars (since it also might accidentally hide some content) */
body {
  overflow: unset;
  width: unset;
}

/* Attempt to avoid horizontal scrollbars */
#layout-content {
  margin-left: unset;
  margin-right: unset;
}


/* Allow the page to be the full-width of the screen */
#layout-wrapper {
  max-width: none;
}


.detail-home-page .hero {
  padding-left: 0;
  padding-right: 0;
}
.detail-home-page .hero .welcome {
  margin-right: -15px;
  margin-left: -15px;
}
#layout-navigation .menu {
  flex-wrap: wrap;
  padding-right: 35px;
}

/* Add some padding on the left and right of the main content */
@supports (display: grid) {
@media (min-width: 58.75em) {
  main {
    display: grid;
    grid-template-columns: 20px 1fr 20px; /* TBD: Would it make more sense to simply adjust the left/right padding here? */
  }
  main > * {
    grid-column: 2/3;
  }
  .detail-home-page .hero .welcome {
    margin-left: unset;
    margin-right: -35px;
  }
}
}
