
/* =Navigation
----------------------------------------------- */
.navigation {
  grid-column: 1/-1 !important;
  margin: 3em 0 !important;
  max-width: none !important;
}
.navigation ul,
.navigation li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.navigation ul {
  display: flex;
  flex-wrap: wrap;
  max-width: none;
}
.navigation li {
  margin: 0.375em;
  flex-grow: 1;
}
.navigation [style*="background-image"] a {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
}

/* The fourth item, out of five items total */
@media (min-width: 70em) and (max-width: 100em) {
  .navigation__belmar li:nth-child(4):nth-last-child(2) {
    min-width: 40vw;
  }
  .navigation__belmar li:nth-child(5):nth-last-child(1) {
    min-width: 40vw;
  }
}

.navigation a {
  display: block;
  text-align: center;
  padding: 4em 2em;
  background-color: rgb(56, 186, 176); /* @green */
  color: white;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: 1.125em;
  border-radius: 0.125em;
}

.navigation a[href]:hover,
.navigation a[href]:active,
.navigation a[href]:focus {
  background-color: rgb(36, 119, 113); /* @dark-green */
  color: white;
  text-decoration: none;
}

.navigation [style*="background-image"] a {
  background-blend-mode: multiply;
  background-color: rgba(36, 119, 113, 0.5); /* @green */
  text-shadow: 0 0 0.25em rgba(36, 119, 113, 1); /* @dark-green */
  background-color: rgba(124, 162, 141, 0.5); /* @gray-green */
  text-shadow: 0 0 0.25em rgba(24, 62, 41, 1); /* @gray-green */
}


