
/* Deprecated (It’s best to use “.text-image” from “text-image.css”, which has the same style) */

.quote-image {
  display: grid;
  margin-top: 50px;
  text-decoration: none;
  background: black;
  grid-column: 1/-1;
  max-width: none;
  margin-left: -15px;
  margin-right: -15px;
}
@supports (display: grid) {
@media (min-width: 58.75em) {
  /* Compensate for left and right margin introduced by grid.css */
  .quote-image {
    margin-left: -35px;
    margin-right: -35px;
  }
}
}

/* Reset the default styles */
.quote-image blockquote {
  padding: unset;
  margin: unset;
  font-size: unset;
  border-left: unset;
}

.quote-image__text {
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-self: center;
  position: relative;
  z-index: 1; 
  color: white;
  margin: 35px calc(100%/6);
}

.quote-image__quote {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 22px;
}
@media (min-width: 58.75em) {
  .quote-image__quote {
    font-size: 44px;
  }
}

.quote-image__byline {
  font-size: 23px;
}

.quote-image__image {
  grid-column: 1/-1;
  grid-row: 1/-1;
  height: 100%;
  height: 100vw;
  width: 100%;
  object-fit: cover;
  opacity: 0.75;
}

@media (min-width: 40em) {
  .quote-image__image {
    height: 50vw;
  }
}


