

table {
  margin-top: 4.5em;
  margin-bottom: 4.5em;
  border-collapse: collapse;
  justify-self: start;
  max-width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

thead th {
  text-transform: lowercase;
  font-weight: var(--light); /* @semibold */
  letter-spacing: 0.2em; /* 1px / 16px */
  white-space: nowrap;
  /*! opacity: 0.1; */
  font-variant: small-caps;
}

tbody th,
tbody td {
  border-top: 1px solid rgb(225, 225, 225); /* @aluminum */
}
th,
td {
  text-align: left;
  padding: calc(var(--vertical-rhythm) * 0.5);
  vertical-align: top;
  /*! padding-top: 0; */
  font-weight: inherit;
}

@media (min-width: 30em) {
  th,
  td {
    padding: calc(var(--vertical-rhythm) * 1.125);
  }
}

thead th {
  padding-top: 0.325em;
}
th:first-child {
  padding-left: 0;
  width: 20em;
  max-width: 100%;
}
td:last-child {
  padding-right: 0;
}

