

/* =Type
----------------------------------------------- */
:root {
  --major-third:    1.250;
  --golden-section: 1.618;
  --minor-seventh:  1.778;

  --type-scale:      calc(var(--major-third)    *  1em);
  --vertical-rhythm: calc(var(--golden-section) *  1em);
  --line-length:     calc(var(--golden-section) * 20em);
  --unitless-vertical-rhythm: var(--golden-section);

  --thin:       100;
  --light:      300;
  --normal:     400;
  --medium:     500;
  --semibold:   600;
  --bold:       700;
  --extra-bold: 800;
  --heavy:      900;
}

body {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: var(--unitless-vertical-rhythm);
  font-size: 100%;
  margin: 0;
  padding: var(--vertical-rhythm);
  background: hsl(0, 0%, 99%);
  color: hsl(0, 0%, 10%);
  /*! font-size: 100%; */
  font-size: calc(0.75em + 0.5vw);
}

@media (min-width: 40em) {
  body {
    padding: calc(var(--vertical-rhythm) * 2);
  }
}

h1, h2, h3, h4, h5, h6, p, ol, ul, dl, figure {
  margin-top:    calc(var(--vertical-rhythm) * 1/2);
  margin-bottom: calc(var(--vertical-rhythm) * 1/2);
  max-width:     var(--line-length);
}
main > nav ul {
  max-width: none;
}

h1, h2, h3, h4, h5, h6 {
  --font-size: 1em;
  /* --line-height: calc(var(--unitless-vertical-rhythm) / var(--font-size)); */
  --line-height: var(--golden-section);

  font-size:   var(--font-size);
  line-height: var(--line-height);

  margin-top:    calc(var(--line-height) * 1.0em);
  margin-bottom: 0;

  max-width: var(--line-length);
  font-weight: var(--heavy);
}

h1 {
  --font-size: calc(0.75em + 6vw);
  font-family: canada-type-gibson, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.125;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transform: skewY(-8deg);
  text-align: center;
}
h1 small {
  font-size: 0.5em;
  display: block;
  font-weight: var(--light);
}

@media (max-width: 50em) {
  h1 ~ h1 {
    --font-size: 2.5em;
    /*! overflow-wrap: break-word; */
  }
  h1 ~ h1 small {
    font-weight: normal;
  }
}

h1 img {
  height: 0.75em;
  width: auto;
  vertical-align: -4%;
  display: inline-block;
  transform: skewY(8deg);
}
h1 img + br {
  /*! display: none; */
}

h2 {
  --font-size: calc(var(--type-scale) * 2);
  font-weight: var(--light);
  /*! line-height: 1.25; */
}
h3 {
  --font-size: calc(var(--type-scale) * 1);
  font-weight: normal;
}
h2 {
  --font-size: calc(var(--golden-section) * 1.25em);
  line-height: 1.25;
}
h3 {
  --font-size: calc(var(--golden-section) * 1em);
  /*! line-height: 1.125; */
  /*! --font-size: 2.375em; */
  line-height: 1.25;
}
h2 {
  font-weight: var(--heavy);
}
h4, h5, h6 {
  --font-size: 1em;
  font-style: italic;
  font-weight: normal;
}
h5, h6 {
  color: inherit;
}


/* TBD: Maybe replace this with some rules that maintain the image’s original aspect ratio? */
@supports (object-fit: contain) {
  img {
    max-width: 100%;
    object-fit: contain;
  }
}

img[data-aspect-ratio] {

}

.action a {
  display: inline-block;
  padding: 0.375em 0.75em;
  border-radius: 0.25em;
  text-decoration: none;
}
.action ul,
.action li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.action ul {
  display: flex;
  flex-wrap: wrap;
  /*! align-items: stretch; */
}
.action li {
  margin: 0.375em;
  flex-grow: 1;
}

@media (max-width: 30em) {
  .action li {
    width: 100%;
  }
}

svg.icon {
  display: inline;
  width: 1em;
  height: 1em;
  margin-right: 0.375em;
  vertical-align: middle;
}

.subscribe p:first-of-type,
main > h2 + p,
main > h2 + h3 + p,
main > p:first-of-type {
  --font-size: 1.25em;
  --h2-font-size: calc(var(--golden-section) * 1em);
  font-weight: 300;
  font-size: var(--font-size);
  --line-height: calc(var(--unitless-vertical-rhythm) / var(--font-size));
  line-height: var(--line-height);
  /*! margin-bottom: 0; */
  max-width: var(--line-length);
}


@media (min-width: 40em) {
  main > h2 + * {
    padding-top: 0.5rem; /* SHIM: Line up with the headline */
  }
  main > h3 + * {
    padding-top: 0.75rem; /* SHIM: Line up with the headline */
  }
  main > h2 + h3 + p {
    padding-top: 0.75rem; /* SHIM: Line up with the headline */
  }
  main > p:first-of-type {
    /*! --font-size: calc(var(--golden-section) * 1em); */
    /*! --line-height: var(--golden-section); */
/*     padding-top: 0.675em; /* SHIM: Line up with the headline */ */
  }
}

strong, b {
  font-weight: bold;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
dd + dt {
  margin-top: calc(var(--vertical-rhythm) * 1/2);
}

blockquote {
  margin-left: 0;
  margin-right: 0;
}

.go-see-art {
  width: 9em;
  grid-column: 1/-1;
  /*! align-self: center; */
  /*! justify-self: center; */
  margin-top: calc(var(--vertical-rhythm) * 3);
  max-width: none;
  margin-bottom: calc(var(--vertical-rhythm) * 3);
  margin-left: auto;
  margin-right: auto;
}

.go-see-art a {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: calc(var(--vertical-rhythm) * 1);
  grid-row-gap: calc(var(--vertical-rhythm) * 1);
  text-decoration: none;
}

.go-see-art a,
.go-see-art a:hover,
.go-see-art a:active,
.go-see-art a:focus {
  color: white;
  /*! display: block; */
}

.go-see-art a > span {
  display: grid;
  width: 100%;
}
.go-see-art a > span > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
  /*! align-self: stretch; */
  /*! justify-self: stretch; */
}
.go-see-art a > span > .text {
  
  align-self: center;
  justify-self: center;
  /*! color: white; */
  font-family: canada-type-gibson, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.125;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transform: skewY(-8deg);
  text-align: center;
  font-size: 1.5em;
}

.go-see-art a > span > .image {
  position: relative;
  padding-bottom: 100%;
  display: block;
  border-radius: 50%;
  background: black;
}
.go-see-art img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: unset;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.75;
}


@media (min-width: 25em) {
  .go-see-art a {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .go-see-art {
    margin-top: calc(var(--vertical-rhythm) * 2);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .go-see-art a > span > .text {
    font-size: 5vw;
  }
}

@media (min-width: 75em) {
  .go-see-art {
    width: 60em;
  }
  .go-see-art a > span > .text {
    font-size: 3em;
  }
}

